@import '../../styles.scss';

.card {
  background-color: $color-neutral-white;
  max-width: 60rem;
  width: 100%;
  display: flex;
  border-radius: 1rem;

  &__img,
  &__content {
    width: 50%;
  }

  &__content {
    padding: 3.2rem;
  }
}
