@import '../../styles.scss';

.card {
  background-color: $color-neutral-white;
  max-width: 60rem;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  border-radius: 0.8rem;

  @media screen and (max-width: 32rem) {
    max-width: 90rem;
  }

  @media screen and (max-width: 76.8rem) {
    max-width: 78rem;
  }

  @media screen and (min-width: 102.4rem) {
    max-width: 60rem;
  }

  &__img,
  &__content {
    width: 50%;

    @media screen and (max-width: 42.5rem) {
      width: 100%;
    }
  }

  &__content {
    padding: 3.2rem;
  }
}
