// -----------------------------------------------------
// Global Styles
// -----------------------------------------------------

html {
  font-size: 62.5%; // 62.5% of 16px = 10px for easy rem calculations
}

// Typography
$font-primary: 'Montserrat', sans-serif;
$font-secondary: 'Fraunces', serif;

$font-weight-regular: 500;
$font-weight-bold: 700;

// Colors
$color-primary-dark-cyan: hsl(158, 36%, 37%);
$color-primary-cream: hsl(30, 38%, 92%);

$color-neutral-dark-blue: hsl(212, 21%, 14%);
$color-neutral-grayish-blue: hsl(228, 12%, 48%);
$color-neutral-white: hsl(0, 0%, 100%);

// Global resets
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

// -----------------------------------------------------
// Typography
// -----------------------------------------------------

$font-size-body: 1.4rem; // 14px
$font-size-heading: 3.2rem; // 32px
$font-size-button: 1.4rem; // 14px
$font-size-overline: 1.2rem; // 12px

body {
  font-family: $font-primary;
  font-size: $font-size-body; // Default body font size
  line-height: 1.6; // 160%
  color: $color-neutral-dark-blue;
  background-color: $color-primary-cream;
}

h1,
h2,
h3 {
  font-size: $font-size-heading;
  font-family: $font-secondary;
  font-weight: $font-weight-bold;
  color: $color-primary-dark-cyan;
}

p {
  font-size: $font-size-body;
  color: $color-neutral-grayish-blue;
}

// -----------------------------------------------------
// Images
// -----------------------------------------------------

img {
  display: block;
  max-width: 100%;
  height: auto;
}

// -----------------------------------------------------
// Mixins
// -----------------------------------------------------

@mixin overline {
  text-transform: uppercase;
  color: $color-neutral-grayish-blue;
  font-size: 1.2rem;
  font-weight: $font-weight-regular;
  letter-spacing: 0.5rem;
  line-height: 1.5rem;
}

@mixin product-title {
  color: $color-neutral-dark-blue;
  font-family: $font-secondary;
  font-style: normal;
  font-weight: $font-weight-bold;
  font-size: 3.2rem;
  line-height: 3.2rem;
}

@mixin product-desc {
  color: $color-neutral-grayish-blue;
  font-style: normal;
  font-weight: $font-weight-regular;
  font-size: 1.4rem;
  line-height: 2.3rem;
}

@mixin pricing-new {
  color: $color-primary-dark-cyan;
  font-family: $font-secondary;
  font-style: normal;
  font-weight: $font-weight-bold;
  font-size: 3.2rem;
  line-height: 3.2rem;
}

@mixin pricing-old {
  color: $color-neutral-grayish-blue;
  font-style: normal;
  font-weight: $font-weight-bold;
  font-size: 1.3rem;
  line-height: 2.3rem;
  text-decoration-line: line-through;
}

@mixin button {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.161rem;
  background: $color-primary-dark-cyan;
  border: none;
  border-radius: 0.8rem;
  padding: 1.5rem 6.2rem 1.5rem 6.3rem;
  cursor: pointer;
}

@mixin button-text {
  color: $color-neutral-white;
  font-style: normal;
  font-weight: $font-weight-bold;
  font-size: 1.4rem;
  line-height: 1.7rem;
}
