@import '../../styles.scss';

.content {
  display: flex;
  flex-direction: column;

  &__overline {
    @include overline;
    margin-bottom: 2rem;
  }

  &__title {
    @include product-title;
    margin-bottom: 2.4rem;
  }

  &__desc {
    @include product-desc;
  }
}
